#colordiv{
display: inline-block;
width: 100px;
height:100px;
background-color: rgba(0, 0, 255, 0.50);
}

html{background-color: lightgreen;
background-image: url(/IMG/razer.jpg);
background-position: top;
background-repeat: no-repeat;}

/*
background: url(/IMG/razer.jpg) no-repeat;


*/



